body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: url('http://zt-three.zoodemo.com/templates/zo2_three/assets/zo2/images/background-patterns/pattern7_white.png');
    font-family: 'Nunito', sans-serif; 
    color: #333;
}

header {
    position: static;
    background-image: url(https://lisamulch.files.wordpress.com/2011/06/img_8930.jpg);
    background-position: bottom;
    height: 20%;
    min-height: 70px;
    width: 100%;
}

header h1 {
    padding: 50px;
    color: #FFF;
    text-shadow: 5px 5px #FFC3C3;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    max-height: 30px;
    background-color: #FFC3C3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 3px;
    border-bottom-style: dotted;
    border-bottom-color: #432300;
    z-index: 1;
}

nav ul {
    margin: 0px;
    padding: auto;
    border: 0px;
}

nav ul li {
    text-decoration: none;
    display: inline;
    align-items: center;
}

.left-container {
    display: inline-block;
    position: relative;
    float: left;
    width: 65%;
}

.right-container {
    display: inline;
    float: right;
    position: absolute;
    width: 35%;
}

section {
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #AAD4FF;
    border-radius: 8px;
}

.todo, .benefits, .culture {
    display: flex;
    padding: 30px;
    align-items: center;
}

aside {
    display: block;
    padding: 10px;
}

footer {
    clear: both;
    position: static;
    min-height: 60px;
    background-color: #190000;
}

footer p {
    padding: 20px;
    text-transform: lowercase;
    color: #FFF;
}

/*Default imgs, text and colors*/
img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

figure {
    margin: auto;
}

figure img {
    display: inline-grid;
    height: 100px;
    width: 150px;
    border-radius: 0px;
}

h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-shadow: 1px 1px #190000;
    text-align: center;
}

a {color: #432300; text-decoration: none}
a:link { color: #333399; text-decoration: none}
a:visited { color: #cc3366; text-decoration: none }
a:focus { color: #006699; text-decoration: underline}
a:hover { color: #009999; text-decoration: underline}
a:active { color: #990000; text-decoration: underline}
